<form method="POST" action="/posts/<%=@post.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Current post name: <%=@post.name%></p>
  <p>Update name: <input type="text" name="name"></p>
  <p>Current post content: <%=@post.content%></p>
  <p>Update content: <input type="text" name="content"></p>
  <input type="submit" value="submit">
</form>
