<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if @posts %>
      <% @posts.each do |p|%>
        <h2><%= p.name %> <%= p.content %></h2>
      <% end %>
    <% end %>
  </body>
</html>

params: <%= params %>
<p></p>
@post <%= @posts %>
