
<form action="/posts" method="post">
  Post Name: <input id="name" type="text" name="name">
  Post Content: <input id="content" type="text" name="content">
  <input id="submit" type="submit">
</form>
