<!DOCTYPE html>
<html>
<head>
	<title>Create New Post</title>
</head>
<body>
	<h1>Create A New Post</h1>
	<form method='post' action='/posts'>
		<p>Post Name: <input type="text" name="name"></p>
		<p>Post Content: <input type="text" name="content"></p>
		<p><input type="submit" id="submit"></p>
	</form>
</body>
</html>