<h1> Create a Post </h1>

<form method="post" action="/posts">
  Post Name:<input id="name" type="text" name="name"><br>
  Content:<textarea id="content" name="content"></textarea>
  <input id="submit" type="submit">
</form>
